In [186]:
# in addition to original, we import datetime and itertools library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, time
from collections import Counter
from itertools import combinations

In [187]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008
924,tt0264472,45000000,94935764,Changing Lanes,Ben Affleck|Samuel L. Jackson|Kim Staunton|Ton...,Roger Michell,"An ambitious lawyer, a desperate father, they ...",A rush-hour fender-bender on New York City's c...,89,Action|Adventure|Crime|Thriller,Paramount Pictures,4/7/2002,5.7,2002
154,tt1121096,95000000,114178613,Seventh Son,Jeff Bridges|Julianne Moore|Ben Barnes|Alicia ...,Sergey Bodrov,"When darkness falls, the son will rise. When t...","John Gregory, who is a seventh son of a sevent...",102,Adventure|Fantasy,Legendary Pictures|Thunder Road Pictures|Outla...,12/12/2014,5.1,2014
170,tt1267297,100000000,243400000,Hercules,Dwayne Johnson|Ian McShane|John Hurt|Rufus Sew...,Brett Ratner,"Before he was a legend, he was a man.","Fourteen hundred years ago, a tormented soul w...",99,Action|Adventure,Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...,7/23/2014,5.6,2014
510,tt0247638,37000000,165335153,The Princess Diaries,Anne Hathaway|Julie Andrews|Heather Matarazzo|...,Garry Marshall,She rocks. She rules. She reigns.,A socially awkward but very bright 15-year-old...,115,Comedy|Family|Romance,Walt Disney Pictures|BrownHouse Productions|Bo...,8/3/2001,6.3,2001

In [188]:
data.describe(include='all')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
count,1889,1.889000e+03,1.889000e+03,1889,1889,1889,1889,1889,1889.000000,1889,1889,1889,1889.000000,1889.000000
unique,1889,NaN,NaN,1887,1878,957,1880,1889,NaN,652,1624,1435,NaN,NaN
top,tt1311067,NaN,NaN,The Gift,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,There are no clean getaways.,When Vetter's wife is killed in a botched hit ...,NaN,Comedy,New Line Cinema,12/25/2014,NaN,NaN
freq,1,NaN,NaN,2,3,13,2,1,NaN,141,21,7,NaN,NaN
mean,NaN,5.431083e+07,1.553653e+08,NaN,NaN,NaN,NaN,NaN,109.658549,NaN,NaN,NaN,6.140762,2007.860773
std,NaN,4.858721e+07,2.146698e+08,NaN,NaN,NaN,NaN,NaN,18.017041,NaN,NaN,NaN,0.764763,4.468841
min,NaN,5.000000e+06,2.033165e+06,NaN,NaN,NaN,NaN,NaN,63.000000,NaN,NaN,NaN,3.300000,2000.000000
25%,NaN,2.000000e+07,3.456058e+07,NaN,NaN,NaN,NaN,NaN,97.000000,NaN,NaN,NaN,5.600000,2004.000000
50%,NaN,3.800000e+07,8.361541e+07,NaN,NaN,NaN,NaN,NaN,107.000000,NaN,NaN,NaN,6.100000,2008.000000
75%,NaN,7.200000e+07,1.782626e+08,NaN,NaN,NaN,NaN,NaN,120.000000,NaN,NaN,NaN,6.600000,2012.000000
max,NaN,3.800000e+08,2.781506e+09,NaN,NaN,NaN,NaN,NaN,214.000000,NaN,NaN,NaN,8.100000,2015.000000

In [189]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [190]:
answers = {}  # создадим словарь для ответов

"""this function adds Profit and converts date from string to datetime format"""


def preparation(data):
    profit = data['revenue'] - data['budget']
    data['profit'] = profit
    data['release_date'] = pd.to_datetime(data['release_date'])
    return data


"""this function converts strings to_lists. Specify one you need in args"""


def transform_to_list(dataframe, column):
    dataframe[column] = dataframe[column].apply(lambda x: x.split('|'))
    return dataframe


"""this function explodes Series. Specify one you need in args"""


def explosion(dataframe, column):
    dataframe = dataframe.explode(column)
    return dataframe


"""if you need a quick restore of a dataframe, call this function"""


def restore(file):
    file = pd.read_csv('movie_bd_v5.csv')
    return file

In [191]:
# and we launch preparation to create new columns
preparation(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,2000-10-27,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [192]:
# если ответили верно, можете добавить комментарий со значком "+"
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [193]:
output1 = data.loc[data.budget == data.budget.max()]
to_answer_1 = str(output1['original_title'].to_string(
    index=False) + '| id:' + output1['imdb_id'].to_string(index=False))
answers['1'] = to_answer_1

ВАРИАНТ 2

In [194]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [195]:
data.loc[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [196]:
output2 = data.loc[data.runtime == data.runtime.max()]
to_answer_2 = str(output2['original_title'].to_string(
    index=False) + '| id:' + output2['imdb_id'].to_string(index=False))
answers['2'] = to_answer_2

In [197]:
answers

{'1': ' Pirates of the Caribbean: On Stranger Tides| id: tt1298650',
 '2': ' Gods and Generals| id: tt0279111'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [198]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [199]:
output3 = data[data.runtime == data.runtime.min()]
to_answer_3 = str(output3['original_title'].to_string(
    index=False) + '| id:' + output3['imdb_id'].to_string(index=False))
answers['3'] = to_answer_3

# 4. Какова средняя длительность фильмов?

In [200]:
data['runtime'].mean()

109.6585494970884

In [201]:
to_answer_4 = round(data['runtime'].mean(), 0)
answers['4'] = to_answer_4

# 5. Каково медианное значение длительности фильмов?

In [202]:
data['runtime'].median()

107.0

In [203]:
to_answer_5 = round(data['runtime'].median(), 0)
answers['5'] = to_answer_5

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [204]:
# лучше код получения столбца profit вынести в Предобработку что в начале
preparation(data)  # we call the preparation function
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [205]:
output_6 = data[data.profit == data.profit.max()]
to_answer_6 = str(output_6['original_title'].to_string(
    index=False) + '| id:' + output_6['imdb_id'].to_string(index=False))
answers['6'] = to_answer_6

# 7. Какой фильм самый убыточный?

In [206]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [207]:
output_7 = data[data.profit == data.profit.min()]

to_answer_7 = str(output_7['original_title'].to_string(
    index=False) + '| id:' + output_7['imdb_id'].to_string(index=False))
answers['7'] = to_answer_7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [208]:
data[data.profit > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [209]:
data[data.revenue > data.budget]['imdb_id'].count()

1478

In [210]:
# that is a litle bit faster
output_8 = data[data.revenue > data.budget]['imdb_id'].count()

answers['8'] = output_8

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [211]:
# solution 1
data[(data['release_date'] > datetime(2008, 1, 1)) & (data['release_date'] <
                                                      datetime(2008, 12, 31))].sort_values(by=['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [212]:
# solution 2
data[(data['release_date'] > datetime(2008, 1, 1)) & (data['release_date']
                                                      < datetime(2008, 12, 31))]['revenue'].sort_values(ascending=False)
data.iloc[599]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                          2008-07-16 00:00:00
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

In [213]:
# solution 3
data[data.release_date.dt.year == 2008].sort_values(
    by=['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [214]:
output_9 = data[data.release_date.dt.year == 2008].sort_values(
    by=['revenue'], ascending=False).head(1)
to_answer_9 = str(output_9['original_title'].to_string(
    index=False) + '| id:' + output_9['imdb_id'].to_string(index=False))
answers['9'] = to_answer_9

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [215]:
# Solution 1
data[(data['release_date'] > datetime(2012, 1, 1)) & (data['release_date']
                                                      < datetime(2014, 12, 31))]['profit'].sort_values(ascending=True)
data.iloc[1245]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                          2013-07-03 00:00:00
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

In [216]:
# Solution 2
data[(data['release_date'] > datetime(2012, 1, 1)) & (data['release_date'] <
                                                      datetime(2014, 12, 31))].sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [217]:
# Solution 3
data[(data.release_year >= 2012) & (data.release_year <= 2014)
     ].sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [218]:
output_10 = data[(data.release_year >= 2012) & (
    data.release_year <= 2014)].sort_values(by=['profit'], ascending=True).head(1)
to_answer_10 = str(output_10['original_title'].to_string(
    index=False) + '| id:' + output_10['imdb_id'].to_string(index=False))
answers['10'] = to_answer_10

# 11. Какого жанра фильмов больше всего?

In [220]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
Counter(data.genres.str.cat(sep='|').split('|')).most_common(3)

[('Drama', 782), ('Comedy', 683), ('Thriller', 596)]

ВАРИАНТ 2

In [221]:
# here we use preprocessing function that transforms DS to list and use it as data2
data2 = data.copy(deep=True)
transform_to_list(data2, 'genres')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]",Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]",Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]",Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]",Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]",Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,"[Adventure, Action, Science Fiction]",Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",New Line Cinema,2000-10-27,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]",Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,"[Comedy, Drama]",Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,[Thriller],Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502

In [222]:
popular_genre = pd.Series(
    [item for sublist in data2.genres for item in sublist])
popular_genre.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [223]:
output_11 = popular_genre.value_counts().head(1)

answers['11'] = output_11

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [224]:
# here we use data_2
profit_genres_list = data2[(data2['profit'] > 0)]['genres']
profit_genres = pd.Series(
    [item for sublist in profit_genres_list for item in sublist])
profit_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [225]:
output_12 = profit_genres.value_counts().head(1)

answers['12'] = output_12

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [226]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [227]:
# here is the more precise type of solution - directors sometimes work together so we use data2 again and explode "Director" series
transform_to_list(data2, 'director')
data2 = explosion(data2, 'director')
data2.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [228]:
output_13 = data2.groupby(['director'])['revenue'].sum(
).sort_values(ascending=False).head(1)

answers['13'] = output_13

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [229]:
# the simpliest way
action_mov = data[data.genres.str.contains('Action', na=False)]
Counter(action_mov.director.str.cat(sep='|').split('|')).most_common(3)

[('Robert Rodriguez', 9), ('Michael Bay', 7), ('Paul W.S. Anderson', 7)]

In [230]:
# the more complicated way (as we had in #13)
data2 = explosion(data2, 'genres')
data2[data2.genres == 'Action'].groupby(
    ['director'])['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

In [231]:
output_14 = data2[data2.genres == 'Action'].groupby(
    ['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

answers['14'] = output_14

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [232]:
# we will use the function to restore because the df is too big
data2 = restore(data2)
preparation(data2)
star_mov = data[(data['release_date'] > datetime(2012, 1, 1)) & (
    data['release_date'] < datetime(2012, 12, 31))].sort_values(by=['revenue'])
transform_to_list(star_mov, 'cast')
star_expl = star_mov.explode('cast')
star_expl.groupby(['cast'])['revenue'].sum(
).sort_values(ascending=False).head(5)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [233]:
# the same but with shorter year
data2 = restore(data2)
preparation(data2)
star_mov = data[data['release_year'] == 2012].sort_values(by=['revenue'])
transform_to_list(star_mov, 'cast')
star_expl = star_mov.explode('cast')
star_expl.groupby(['cast'])['revenue'].sum(
).sort_values(ascending=False).head(5)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [234]:
output_15 = star_expl.groupby(
    ['cast'])['revenue'].sum().sort_values(ascending=False).head(1)
answers['15'] = output_15

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [235]:
data2 = transform_to_list(data2, 'cast')
data2 = explosion(data2, 'cast')
data2[(data2.budget > data2.budget.mean())].groupby(
    'cast')['budget'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

In [236]:
output_16 = data2[(data2.budget > data2.budget.mean())].groupby('cast')[
    'budget'].count().sort_values(ascending=False).head(1)
answers['16'] = output_16

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [237]:
cage_mov = data[data.cast.str.contains('Nicolas Cage', na=False)]
Counter(cage_mov.genres.str.cat(sep='|').split('|')).most_common(10)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3)]

In [238]:
# another option using data2
data2 = transform_to_list(data2, 'genres')
data2 = explosion(data2, 'genres')
data2[data2.cast == 'Nicolas Cage'].groupby('genres')['genres'].count()

genres
Action             17
Adventure           7
Animation           3
Comedy              6
Crime              10
Drama              12
Family              3
Fantasy             8
History             2
Horror              1
Mystery             3
Romance             1
Science Fiction     4
Thriller           15
War                 1
Name: genres, dtype: int64

In [239]:
output_17 = data2[data2.cast == 'Nicolas Cage'].groupby(
    'genres')['genres'].value_counts().sort_values(ascending=False).head(1)
answers['17'] = output_17

# 18. Самый убыточный фильм от Paramount Pictures

In [240]:
data2 = restore(data2)
preparation(data2)
transform_to_list(data2, 'production_companies')
data2 = explosion(data2, 'production_companies')
data2[data2['production_companies'].str.contains(
    pat='Paramount Pictures')].sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,2003-11-26,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,2007-04-24,5.9,2007,-51788987

In [241]:
output_18 = data2[data2['production_companies'].str.contains(
    pat='Paramount Pictures')].sort_values(by='profit').head(1)
to_answer_18 = str(output_18['original_title'].to_string(
    index=False) + '| id:' + output_18['imdb_id'].to_string(index=False))
answers['18'] = to_answer_18

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [242]:
# here, we go back tour original data
data.groupby(data.release_date.dt.year)[
    'revenue'].sum().sort_values(ascending=False)

release_date
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [243]:
output_19 = data.groupby(data.release_date.dt.year)[
    'revenue'].sum().sort_values(ascending=False).head(1)
answers['19'] = output_19

# 20. Какой самый прибыльный год для студии Warner Bros?

In [244]:
data[data.production_companies.str.contains(pat='Warner Bros')].groupby(
    by='release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [245]:
output_20 = data.groupby(data.release_date.dt.year)[
    'revenue'].sum().sort_values(ascending=False).head(1)
answers['20'] = output_20

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [246]:
data['month'] = data.release_date.dt.month
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [247]:
# or there is another option without creating a new dataframe
data.groupby(data.release_date.dt.month)[
    'imdb_id'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [248]:
output_21 = data['month'].value_counts().head(1)
answers['21'] = output_21

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [249]:
data[(data.release_date.dt.month >= 6) & (
    data.release_date.dt.month <= 8)]['imdb_id'].count()

450

In [250]:
output_22 = data[(data.release_date.dt.month >= 6) & (
    data.release_date.dt.month <= 8)]['imdb_id'].count()
answers['22'] = output_22

# 23. Для какого режиссера зима – самое продуктивное время года?

In [251]:
# restoring data2 and exploding directors
data2 = restore(data2)
preparation(data2)
transform_to_list(data2, 'director')
data2 = explosion(data2, 'director')
data[(data.release_date.dt.month == 1) | (data.release_date.dt.month == 2) | (
    data.release_date.dt.month == 12)].groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: imdb_id, Length: 332, dtype: int64

In [252]:
output_23 = data[(data.release_date.dt.month == 1) | (data.release_date.dt.month == 2) | (
    data.release_date.dt.month == 12)].groupby('director')['imdb_id'].count().sort_values(ascending=False).head(1)
answers['23'] = output_23

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [253]:
data2 = restore(data2)
preparation(data2)
transform_to_list(data2, 'production_companies')
data2 = explosion(data2, 'production_companies')

data2['title_len'] = data2['original_title'].str.len()
data2.groupby('production_companies')[
    'title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

In [254]:
output_24 = data2.groupby('production_companies')[
    'title_len'].mean().sort_values(ascending=False).head(1)
answers['24'] = output_24

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [255]:
data2['overview_len'] = data2['overview'].str.len()
data2.groupby('production_companies')[
    'overview_len'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_len, Length: 1771, dtype: float64

In [256]:
output_25 = data2.groupby('production_companies')[
    'overview_len'].mean().sort_values(ascending=False).head(1)
answers['25'] = output_25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [257]:
data.sort_values('vote_average', ascending=False).head(int(len(data)/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5

In [258]:
output_26 = data.sort_values(
    'vote_average', ascending=False).head(int(len(data)/100))
to_answer_26 = list(output_26['original_title'])
answers['26'] = to_answer_26

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [259]:
data2 = restore(data2)
data2 = transform_to_list(data2, 'cast')

pairs = Counter()
for i in range(len(data2)):
    data2.cast[i].sort()
for actor in data2.cast:
    for pair in list(combinations(actor, 2)):
        if pair not in pairs:
            pairs[pair] = 1
        else:
            pairs[pair] += 1
pairs.most_common(10)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Paul Walker', 'Vin Diesel'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

In [260]:
output_27 = pairs.most_common(3)
answers['27'] = output_27

ВАРИАНТ 2

# Submission

In [261]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': ' Pirates of the Caribbean: On Stranger Tides| id: tt1298650',
 '2': ' Gods and Generals| id: tt0279111',
 '3': ' Winnie the Pooh| id: tt1449283',
 '4': 110.0,
 '5': 107.0,
 '6': ' Avatar| id: tt0499549',
 '7': ' The Lone Ranger| id: tt1210819',
 '8': 1478,
 '9': ' The Dark Knight| id: tt0468569',
 '10': ' The Lone Ranger| id: tt1210819',
 '11': Drama    782
 dtype: int64,
 '12': Drama    560
 dtype: int64,
 '13': director
 Peter Jackson    6490593685
 Name: revenue, dtype: int64,
 '14': director
 Robert Rodriguez    9
 Name: imdb_id, dtype: int64,
 '15': cast
 Chris Hemsworth    2027450773
 Name: revenue, dtype: int64,
 '16': cast
 Matt Damon    18
 Name: budget, dtype: int64,
 '17': genres  genres
 Action  Action    17
 Name: genres, dtype: int64,
 '18': ' K-19: The Widowmaker| id: tt0267626',
 '19': release_date
 2015    25449202382
 Name: revenue, dtype: int64,
 '20': release_date
 2015    25449202382
 Name: revenue, dtype: int64,
 '21': 9    227
 Name: month, dtype: int64,
 '22': 450,
 '23': director
 Peter Jackson    7
 Name: imdb_id, dtype: int64,
 '24': production_companies
 Four By Two Productions    83.0
 Name: title_len, dtype: float64,
 '25': production_companies
 Midnight Picture Show    1000.0
 Name: overview_len, dtype: float64,
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars'],
 '27': [(('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Emma Watson', 'Rupert Grint'), 8)]}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)